@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
    flex-wrap: wrap;
    color: blue;
}

.aboutContent {
    flex: 1;
    text-align: left;
    font-family: "Lexend Deca", "sans-serif";
}

.aboutTitle {
    font-family: "Lexend Deca", "sans-serif";
    font-size: 7vw;
}